<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.Editors }, 
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout })

    @Html.DevExpress().GetStyleSheets( 
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout })

</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>